@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue-duck: #006076;

  --color-base: white;
  --color-base-content: #30313d;
  --color-primary: var(--color-blue-duck);
  --color-primary-content: white;
}

html,
body {
  height: 100%;
}
body {
  background-color: var(--color-base);
  color: var(--color-base-content);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem;
}

@media (width >= 640px) {
  body {
    padding: 0;
  }
}

#app {
  min-height: 100vh;
}
nav {
  background-color: var(--color-base);
  z-index: 5;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
header {
  margin-top: 10rem;
}

.text-primary {
  color: var(--color-primary-content);
}

.btn-primary {
  color: var(--color-primary-content);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  color: var(--color-primary);
  background-color: var(--color-primary-content);
  border-color: var(--color-primary);
}

input,
input[type="submit"],
button,
select {
  padding: 4px 8px;
  color: var(--color-base-content);
  background-color: var(--color-base);

  border: 1px solid var(--color-base-content);
}

button:hover,
input[type="submit"]:hover,
select:hover {
  color: var(--color-base);
  background-color: var(--color-base-content);

  border-color: var(--color-base);
}

button:disabled,
input[type="submit"]:disabled,
select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input:focus {
  outline: none !important;
  border: 1px solid var(--color-base-content);
  box-shadow: 0 0 5px var(--color-base-content);
}

input[type="checkbox"] {
  accent-color: var(--color-base-content);
}

.h-50-vh {
  height: 50vh;
}

.h-75-vh {
  height: 75vh;
}

.modal {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 96, 118, 0.8);
}

.modal .modal-btn-close {
  top: calc(50vh - 310px);
  position: absolute;
  right: max(0px, calc(50vw - 270px));
}
