@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #006076;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem;
}

@media (width >= 640px) {
  body {
    padding: 0;
  }
}

#app {
  padding-top: 4rem;
  min-height: 100vh;
}

input,
button,
select {
  padding: 4px 8px;
}

input,
select {
  color: #006076;
}

button,
input[type="submit"],
select {
  background-color: #fff;
  color: #006076;
  padding: 4px 8px;
  border: 1px solid #006076;
}

button:hover,
input[type="submit"]:hover,
select:hover {
  background-color: #006076;
  color: #fff;
  border-color: #fff;
}

button:disabled,
input[type="submit"]:disabled,
select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.h-50-vh {
  height: 50vh;
}

.h-75-vh {
  height: 75vh;
}
